* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
  /* justify-content: center; */
  background-image: url(https://vignette.wikia.nocookie.net/shrek/images/b/b7/17882.png/revision/latest?cb=20190221214646);
  /* background-image: url(https://i.imgur.com/UpkGCs5.jpg); */
  /* background-size: 1000px; */
  background-size: 1500px;
}
.grid {
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  padding-left: 70px;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
  /* border: 2px solid black; */

}

.grid div.player {
  background-image: url(http://icons.iconarchive.com/icons/majdi-khawaja/shrek/256/Shrek-icon.png);
  background-size: 65px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.safety {
  background-color: greenyellow;
}

.grid div.lilypad {
  background-image: url(http://www.vinotique.com/postpic/2011/07/cartoon-lily-pad-printable_387220.jpg);
  background-size: 70px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.car {
  background-image: url(https://png.pngtree.com/png-clipart/20190116/ourlarge/pngtree-jeep-red-car-classic-cars-car-png-image_402334.jpg);
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.river {
  background-color: blue;
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.log {
  background-color: brown;
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.skull-and-crossbones {
  background-image: url(https://www.pinclipart.com/picdir/middle/78-780446_skull-and-crossbone-clipart-webweaver-skull-and-crossbones.png);
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.title img {
  width: 600px;
}