* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

section:first-of-type {
  flex: 1;
  height: 80vh;
  justify-content: center;
  padding: 10px;
}

section:last-of-type {
  flex: 1;
  height: 80vh;
  justify-content: center;
  padding: 10px;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0;
  /* justify-content: center; */
  background-image: url(https://vignette.wikia.nocookie.net/shrek/images/b/b7/17882.png/revision/latest?cb=20190221214646);
  /* background-image: url(https://i.imgur.com/UpkGCs5.jpg); */
  /* background-size: 1000px; */
  background-size: 1500px;
}
.grid {
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  padding-left: 20px;
  opacity: 0.9;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
  border: 0.5px solid black;

}

.grid div.player {
  background-image: url(http://icons.iconarchive.com/icons/majdi-khawaja/shrek/256/Shrek-icon.png);
  background-size: 53px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.safety {
  background-color: #405d27;
}

.grid div.lilypad {
  background-image: url(http://www.vinotique.com/postpic/2011/07/cartoon-lily-pad-printable_387220.jpg);
  background-size: 70px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.puss {
  background-image: url(http://icons.iconarchive.com/icons/majdi-khawaja/shrek/256/Puss-2-icon.png);
  background-size: 50px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.donkey {
  background-image: url(http://icons.iconarchive.com/icons/majdi-khawaja/shrek/256/Donkey-3-icon.png);
  background-size: 50px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.fiona {
  background-image: url(http://icons.iconarchive.com/icons/majdi-khawaja/shrek/256/Fiona-3-icon.png);
  background-size: 50px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.car {
  background-image: url(../images/game-boy-advance-11456.png);
  background-size: 80px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.fairyG {
  background-image: url(../images/fairy-g.png);
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;

}

.grid div.river {
  background-color: blue;
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.log {
  background-color: brown;
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.skull-and-crossbones {
  background-image: url(https://www.pinclipart.com/picdir/middle/78-780446_skull-and-crossbone-clipart-webweaver-skull-and-crossbones.png);
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.title img {
  width: 600px;
}

.swamp {
  background-color: #c1946a;
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.scroll img {
  /* height: 350px; */
  width: 70%;
  height: auto;
  
}

.trophy {
  background-image: url(https://i.gifer.com/XqyT.gif);
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;
}

.hide {
  display: none;
}

.losing-text {
  font-family: 'Shrek', 'arial';
  font-size: 90px;
  text-shadow: 5px 5px 5px #b9cf35;
}

.winning-text {
  font-family: 'Shrek', 'arial';
  font-size: 90px;
  text-shadow: 5px 5px 5px #b9cf35;
}

.saved-chars {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 200px;
}

.fiona {
  width: 100px;
  height: 100px;
}

.puss {
  width: 100px;
  height: 100px;
}

.donkey {
  width: 100px;
  height: 100px;
}

/* #progressBar {
  width: 400px;
  margin: 10px auto;
  height: 22px;
  background-color: #0A5F44;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px;
  width: 0;
  background-color: #CBEA00;
  box-sizing: border-box;
} */

.buttons {
  display: flex;
  justify-content: center;

}

.timer {
  border: 2px solid black;
}